<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>


<body>
    <style type="text/css">
        table.gridtable {
            font-family: verdana, arial, sans-serif;
            font-size: 40px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }
    
        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }
    
        table.gridtable td {
            border-width: 1px;
            padding: 18px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
    
      </style>

    <table class="gridtable">
        <tr>
            <th>Value</th>
            <th>Display</th>
            <th>description</th>
        </tr>
    
        
            <tr>
                <td><%= thisOne.value %></td>
                <td><%= thisOne.display %></td>
                <td><%= thisOne.description %></td>
            </tr>

      

     

    </table>
    





</body>

</html>